openapi: 3.2.0
info:
  title: REST API Reference Add Ons API
  version: '0.7'
  description: 'REST API provides low-level access to Uploadcare features. You can access files and their metadata, application data, file groups, add-ons, projects, webhooks, document conversion and video encoding.


    The REST API root is `https://api.uploadcare.com/`. Send data via query strings and POST request bodies, and receive JSON responses. All URLs MUST end with a forward slash `/`.


    Check out our [API clients](https://uploadcare.com/docs/integrations/) that cover most of the popular programming languages and frameworks.


    # Authentication

    <!-- ReDoc-Inject: <security-definitions> -->

    '
  contact:
    name: API support
    email: help@uploadcare.com
  x-logo:
    url: https://ucarecdn.com/06bc72fb-3a5a-4ee7-a19c-b1d02fb9e711/logorestapi.svg
    backgroundColor: '#fafafa'
    altText: Uploadcare REST API Reference
  x-meta:
    title: REST API 0.7 Reference — Uploadcare
    description: Complete reference documentation for the Uploadcare REST API 0.7. Covers endpoints, requests, their params, and response examples.
servers:
- url: https://api.uploadcare.com
  description: Production server
security:
- apiKeyAuth: []
tags:
- name: Add-Ons
  description: 'An `Add-On` is an application implemented by Uploadcare that accepts uploaded files as an

    input and can produce other files and/or [appdata](#operation/fileInfo) as an output.

    '
paths:
  /addons/aws_rekognition_detect_labels/execute/:
    post:
      summary: Execute AWS Rekognition
      description: Execute [AWS Rekognition](https://docs.aws.amazon.com/rekognition/latest/dg/labels-detect-labels-image.html) Add-On for a given target to detect labels in an image. **Note:** Detected labels are stored in the file's appdata.
      tags:
      - Add-Ons
      operationId: awsRekognitionExecute
      parameters:
      - $ref: '#/components/parameters/acceptHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  description: Unique ID of the file to process
                  type: string
                  format: uuid
                  example: 21975c81-7f57-4c7a-aef9-acfe28779f78
              required:
              - target
      responses:
        '200':
          $ref: '#/components/responses/executeAddonResponse'
        '400':
          $ref: '#/components/responses/simpleAuthHTTPForbiddenResponse'
        '401':
          $ref: '#/components/responses/authorizationProblemsResponse'
        '406':
          $ref: '#/components/responses/invalidAcceptHeader'
        '409':
          $ref: '#/components/responses/executeAddonConcurrentCallResponse'
        '429':
          $ref: '#/components/responses/requestWasThrottledError'
      x-codeSamples:
      - lang: PHP
        label: PHP
        source: '<?php

          $configuration = Uploadcare\Configuration::create((string) $_ENV[''UPLOADCARE_PUBLIC_KEY''], (string) $_ENV[''UPLOADCARE_SECRET_KEY'']);


          $api = (new Uploadcare\Api($configuration))->addons();

          $resultKey = $api->requestAwsRecognition(''1bac376c-aa7e-4356-861b-dd2657b5bfd2'');

          echo \sprintf(''Recognition requested. Key is \''%s\'''', $resultKey);

          '
      - lang: Python
        label: Python
        source: "from pyuploadcare import Uploadcare\nuploadcare = Uploadcare(public_key='YOUR_PUBLIC_KEY', secret_key='YOUR_SECRET_KEY')\n\ntarget_file = uploadcare.file(\"1bac376c-aa7e-4356-861b-dd2657b5bfd2\")\naws_recognition_result = uploadcare.addons_api.execute(\n    target_file,\n    AddonLabels.AWS_LABEL_RECOGNITION,\n)\n"
      - lang: Ruby
        label: Ruby
        source: 'require ''uploadcare''

          Uploadcare.config.public_key = ''YOUR_PUBLIC_KEY''

          Uploadcare.config.secret_key = ''YOUR_SECRET_KEY''


          uuid = ''1bac376c-aa7e-4356-861b-dd2657b5bfd2''

          Uploadcare::Addons.ws_rekognition_detect_labels(uuid)

          '
      - lang: Swift
        label: Swift
        source: 'import Uploadcare


          let uploadcare = Uploadcare(withPublicKey: "YOUR_PUBLIC_KEY", secretKey: "YOUR_SECRET_KEY")


          let response = try await uploadcare.executeAWSRekognition(fileUUID: "1bac376c-aa7e-4356-861b-dd2657b5bfd2")

          print(response) // contains requestID


          // Execute and wait for completion:

          let status = try await uploadcare.performAWSRekognition(fileUUID: "1bac376c-aa7e-4356-861b-dd2657b5bfd2")

          print(status)

          '
      - lang: Kotlin
        label: Kotlin
        source: 'import com.uploadcare.android.library.api.UploadcareClient


          val uploadcare = UploadcareClient(publicKey = "YOUR_PUBLIC_KEY", secretKey = "YOUR_SECRET_KEY")


          val addOn = AWSRekognitionAddOn(uploadcare)

          val response = addOn.execute(fileId = "1bac376c-aa7e-4356-861b-dd2657b5bfd2")

          Log.d("TAG", response.toString())

          '
  /addons/aws_rekognition_detect_labels/execute/status/:
    get:
      summary: Check AWS Rekognition execution status
      description: 'Check the status of an Add-On execution request that had been started

        using the [Execute Add-On](#operation/awsRekognitionExecute) operation.

        '
      tags:
      - Add-Ons
      operationId: awsRekognitionExecutionStatus
      parameters:
      - $ref: '#/components/parameters/acceptHeader'
      - in: query
        name: request_id
        description: 'Request ID returned by the Add-On execution request described above.

          '
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          $ref: '#/components/responses/addonExecutionStatusResponse'
        '400':
          $ref: '#/components/responses/simpleAuthHTTPForbiddenResponse'
        '401':
          $ref: '#/components/responses/authorizationProblemsResponse'
        '406':
          $ref: '#/components/responses/invalidAcceptHeader'
      x-codeSamples:
      - lang: PHP
        label: PHP
        source: '<?php

          $configuration = Uploadcare\Configuration::create((string) $_ENV[''UPLOADCARE_PUBLIC_KEY''], (string) $_ENV[''UPLOADCARE_SECRET_KEY'']);


          $api = (new Uploadcare\Api($configuration))->addons();

          $status = $api->checkAwsRecognition(''request-id'');

          echo \sprintf(''Recognition status: %s'', $status);

          '
      - lang: Python
        label: Python
        source: 'from pyuploadcare import Uploadcare

          uploadcare = Uploadcare(public_key=''YOUR_PUBLIC_KEY'', secret_key=''YOUR_SECRET_KEY'')


          addon_task_status = uploadcare.addons_api.status(request_id, AddonLabels.AWS_LABEL_RECOGNITION)

          print(addon_task_status)

          '
      - lang: Ruby
        label: Ruby
        source: 'require ''uploadcare''

          Uploadcare.config.public_key = ''YOUR_PUBLIC_KEY''

          Uploadcare.config.secret_key = ''YOUR_SECRET_KEY''


          request_id = ''d1fb31c6-ed34-4e21-bdc3-4f1485f58e21''

          result = Uploadcare::Addons.ws_rekognition_detect_labels_status(request_id)

          puts result.status

          '
      - lang: Swift
        label: Swift
        source: 'import Uploadcare


          let uploadcare = Uploadcare(withPublicKey: "YOUR_PUBLIC_KEY", secretKey: "YOUR_SECRET_KEY")


          let status = try await uploadcare.checkAWSRekognitionStatus(requestID: "requestID")

          print(status)

          '
      - lang: Kotlin
        label: Kotlin
        source: 'import com.uploadcare.android.library.api.UploadcareClient


          val uploadcare = UploadcareClient(publicKey = "YOUR_PUBLIC_KEY", secretKey = "YOUR_SECRET_KEY")


          val addOn = AWSRekognitionAddOn(uploadcare)

          val status = addOn.check(requestId = "d1fb31c6-ed34-4e21-bdc3-4f1485f58e21")

          Log.d("TAG", status.toString())

          '
  /addons/aws_rekognition_detect_moderation_labels/execute/:
    post:
      summary: Execute AWS Rekognition Moderation
      description: Execute [AWS Rekognition Moderation](https://docs.aws.amazon.com/rekognition/latest/dg/moderation.html) Add-On for a given target to detect moderation labels in an image. **Note:** Detected moderation labels are stored in the file's appdata.
      tags:
      - Add-Ons
      operationId: awsRekognitionDetectModerationLabelsExecute
      parameters:
      - $ref: '#/components/parameters/acceptHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  description: Unique ID of the file to process
                  type: string
                  format: uuid
                  example: 21975c81-7f57-4c7a-aef9-acfe28779f78
              required:
              - target
      responses:
        '200':
          $ref: '#/components/responses/executeAddonResponse'
        '400':
          $ref: '#/components/responses/simpleAuthHTTPForbiddenResponse'
        '401':
          $ref: '#/components/responses/authorizationProblemsResponse'
        '406':
          $ref: '#/components/responses/invalidAcceptHeader'
        '409':
          $ref: '#/components/responses/executeAddonConcurrentCallResponse'
        '429':
          $ref: '#/components/responses/requestWasThrottledError'
      x-codeSamples:
      - lang: PHP
        label: PHP
        source: '<?php

          $configuration = Uploadcare\Configuration::create((string) $_ENV[''UPLOADCARE_PUBLIC_KEY''], (string) $_ENV[''UPLOADCARE_SECRET_KEY'']);


          $api = (new Uploadcare\Api($configuration))->addons();

          $resultKey = $api->requestAwsRecognitionModeration(''1bac376c-aa7e-4356-861b-dd2657b5bfd2'');

          echo \sprintf(''Recognition requested. Key is \''%s\'''', $resultKey);

          '
      - lang: Python
        label: Python
        source: "from pyuploadcare import Uploadcare\nuploadcare = Uploadcare(public_key='YOUR_PUBLIC_KEY', secret_key='YOUR_SECRET_KEY')\n\ntarget_file = uploadcare.file(\"1bac376c-aa7e-4356-861b-dd2657b5bfd2\")\naws_recognition_result = uploadcare.addons_api.execute(\n    target_file,\n    AddonLabels.AWS_MODERATION_LABELS,\n)\n"
      - lang: Ruby
        label: Ruby
        source: 'require ''uploadcare''

          Uploadcare.config.public_key = ''YOUR_PUBLIC_KEY''

          Uploadcare.config.secret_key = ''YOUR_SECRET_KEY''


          uuid = ''1bac376c-aa7e-4356-861b-dd2657b5bfd2''

          Uploadcare::Addons.ws_rekognition_detect_moderation_labels(uuid)

          '
      - lang: Swift
        label: Swift
        source: 'import Uploadcare


          let uploadcare = Uploadcare(withPublicKey: "YOUR_PUBLIC_KEY", secretKey: "YOUR_SECRET_KEY")


          let response = try await uploadcare.executeAWSRekognitionModeration(fileUUID: "1bac376c-aa7e-4356-861b-dd2657b5bfd2")

          print(response) // contains requestID


          // Execute and wait for completion:

          let status = try await uploadcare.performAWSRekognitionModeration(fileUUID: "1bac376c-aa7e-4356-861b-dd2657b5bfd2")

          print(status)

          '
      - lang: Kotlin
        label: Kotlin
        source: 'import com.uploadcare.android.library.api.UploadcareClient


          val uploadcare = UploadcareClient(publicKey = "YOUR_PUBLIC_KEY", secretKey = "YOUR_SECRET_KEY")


          val addOn = AWSRekognitionModerationAddOn(uploadcare)

          val response = addOn.execute(fileId = "1bac376c-aa7e-4356-861b-dd2657b5bfd2")

          Log.d("TAG", response.toString())

          '
  /addons/aws_rekognition_detect_moderation_labels/execute/status/:
    get:
      summary: Check AWS Rekognition Moderation execution status
      description: 'Check the status of an Add-On execution request that had been started

        using the [Execute Add-On](#operation/awsRekognitionDetectModerationLabelsExecute) operation.

        '
      tags:
      - Add-Ons
      operationId: awsRekognitionDetectModerationLabelsExecutionStatus
      parameters:
      - $ref: '#/components/parameters/acceptHeader'
      - in: query
        name: request_id
        description: 'Request ID returned by the Add-On execution request described above.

          '
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          $ref: '#/components/responses/addonExecutionStatusResponse'
        '400':
          $ref: '#/components/responses/simpleAuthHTTPForbiddenResponse'
        '401':
          $ref: '#/components/responses/authorizationProblemsResponse'
        '406':
          $ref: '#/components/responses/invalidAcceptHeader'
      x-codeSamples:
      - lang: PHP
        label: PHP
        source: '<?php

          $configuration = Uploadcare\Configuration::create((string) $_ENV[''UPLOADCARE_PUBLIC_KEY''], (string) $_ENV[''UPLOADCARE_SECRET_KEY'']);


          $api = (new Uploadcare\Api($configuration))->addons();

          $status = $api->checkAwsRecognitionModeration(''request-id'');

          echo \sprintf(''Recognition status: %s'', $status);

          '
      - lang: Python
        label: Python
        source: 'from pyuploadcare import Uploadcare

          uploadcare = Uploadcare(public_key=''YOUR_PUBLIC_KEY'', secret_key=''YOUR_SECRET_KEY'')


          addon_task_status = uploadcare.addons_api.status(request_id, AddonLabels.AWS_MODERATION_LABEL)

          print(addon_task_status)

          '
      - lang: Ruby
        label: Ruby
        source: 'require ''uploadcare''

          Uploadcare.config.public_key = ''YOUR_PUBLIC_KEY''

          Uploadcare.config.secret_key = ''YOUR_SECRET_KEY''


          request_id = ''d1fb31c6-ed34-4e21-bdc3-4f1485f58e21''

          result = Uploadcare::Addons.ws_rekognition_detect_moderation_labels_status(request_id)

          puts result.status

          '
      - lang: Swift
        label: Swift
        source: 'import Uploadcare


          let uploadcare = Uploadcare(withPublicKey: "YOUR_PUBLIC_KEY", secretKey: "YOUR_SECRET_KEY")


          let status = try await uploadcare.checkAWSRekognitionModerationStatus(requestID: "requestID")

          print(status)

          '
      - lang: Kotlin
        label: Kotlin
        source: 'import com.uploadcare.android.library.api.UploadcareClient


          val uploadcare = UploadcareClient(publicKey = "YOUR_PUBLIC_KEY", secretKey = "YOUR_SECRET_KEY")


          val addOn = AWSRekognitionModerationAddOn(uploadcare)

          val status = addOn.check(requestId = "d1fb31c6-ed34-4e21-bdc3-4f1485f58e21")

          Log.d("TAG", status.toString())

          '
  /addons/uc_clamav_virus_scan/execute/:
    post:
      summary: Execute ClamAV
      description: Execute [ClamAV](https://www.clamav.net/) virus checking Add-On for a given target.
      tags:
      - Add-Ons
      operationId: ucClamavVirusScanExecute
      parameters:
      - $ref: '#/components/parameters/acceptHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  description: Unique ID of the file to process
                  type: string
                  format: uuid
                  example: 21975c81-7f57-4c7a-aef9-acfe28779f78
                params:
                  description: Optional object with Add-On specific parameters
                  type: object
                  default: {}
                  properties:
                    purge_infected:
                      type: boolean
                      description: Purge infected file.
                      example: true
                  example:
                    purge_infected: true
              required:
              - target
      responses:
        '200':
          $ref: '#/components/responses/executeAddonResponse'
        '400':
          $ref: '#/components/responses/simpleAuthHTTPForbiddenResponse'
        '401':
          $ref: '#/components/responses/authorizationProblemsResponse'
        '406':
          $ref: '#/components/responses/invalidAcceptHeader'
        '409':
          $ref: '#/components/responses/executeAddonConcurrentCallResponse'
        '429':
          $ref: '#/components/responses/requestWasThrottledError'
      x-codeSamples:
      - lang: JavaScript
        label: JS
        source: "import {\n  executeAddon,\n  AddonName,\n  UploadcareSimpleAuthSchema,\n} from '@uploadcare/rest-client';\n\nconst uploadcareSimpleAuthSchema = new UploadcareSimpleAuthSchema({\n  publicKey: 'YOUR_PUBLIC_KEY',\n  secretKey: 'YOUR_SECRET_KEY',\n});\n\nconst result = await executeAddon(\n  {\n    addonName: AddonName.UC_CLAMAV_VIRUS_SCAN,\n    target: '1bac376c-aa7e-4356-861b-dd2657b5bfd2',\n  },\n  { authSchema: uploadcareSimpleAuthSchema }\n)\n"
      - lang: PHP
        label: PHP
        source: '<?php

          $configuration = Uploadcare\Configuration::create((string) $_ENV[''UPLOADCARE_PUBLIC_KEY''], (string) $_ENV[''UPLOADCARE_SECRET_KEY'']);


          $api = (new Uploadcare\Api($configuration))->addons();

          $resultKey = $api->requestAntivirusScan(''21975c81-7f57-4c7a-aef9-acfe28779f78'');

          echo \sprintf(''Antivirus scan requested. Key is \''%s\'''', $resultKey);

          '
      - lang: Python
        label: Python
        source: "from pyuploadcare import Uploadcare\nuploadcare = Uploadcare(public_key='YOUR_PUBLIC_KEY', secret_key='YOUR_SECRET_KEY')\n\nclamav_params = AddonClamAVExecutionParams(purge_infected=True)\ntarget_file = uploadcare.file(\"1bac376c-aa7e-4356-861b-dd2657b5bfd2\")\nclamav_result = uploadcare.addons_api.execute(\n    target_file.uuid,\n    AddonLabels.CLAM_AV,\n    clamav_params\n)\n"
      - lang: Ruby
        label: Ruby
        source: 'require ''uploadcare''

          Uploadcare.config.public_key = ''YOUR_PUBLIC_KEY''

          Uploadcare.config.secret_key = ''YOUR_SECRET_KEY''


          uuid = ''1bac376c-aa7e-4356-861b-dd2657b5bfd2''

          Uploadcare::Addons.uc_clamav_virus_scan(uuid, purge_infected: true)

          '
      - lang: Swift
        label: Swift
        source: 'import Uploadcare


          let uploadcare = Uploadcare(withPublicKey: "YOUR_PUBLIC_KEY", secretKey: "YOUR_SECRET_KEY")


          let parameters = ClamAVAddonExecutionParams(purgeInfected: true)

          let response = try await uploadcare.executeClamav(fileUUID: "1bac376c-aa7e-4356-861b-dd2657b5bfd2", parameters: parameters)

          print(response) // contains requestID


          // Execute and wait for completion:

          let status = try await uploadcare.performClamav(fileUUID: "1bac376c-aa7e-4356-861b-dd2657b5bfd2", parameters: parameters)

          print(status)

          '
      - lang: Kotlin
        label: Kotlin
        source: 'import com.uploadcare.android.library.api.UploadcareClient


          val uploadcare = UploadcareClient(publicKey = "YOUR_PUBLIC_KEY", secretKey = "YOUR_SECRET_KEY")


          val addOn = ClamAVAddOn(uploadcare)

          val response = addOn.execute(fileId = "1bac376c-aa7e-4356-861b-dd2657b5bfd2")

          Log.d("TAG", response.toString())

          '
  /addons/uc_clamav_virus_scan/execute/status/:
    get:
      summary: Check ClamAV execution status
      description: 'Check the status of an Add-On execution request that had been started

        using the [Execute Add-On](#operation/ucClamavVirusScanExecute) operation.

        '
      tags:
      - Add-Ons
      operationId: ucClamavVirusScanExecutionStatus
      parameters:
      - $ref: '#/components/parameters/acceptHeader'
      - in: query
        name: request_id
        description: 'Request ID returned by the Add-On execution request described above.

          '
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          $ref: '#/components/responses/addonExecutionStatusResponse'
        '400':
          $ref: '#/components/responses/simpleAuthHTTPForbiddenResponse'
        '401':
          $ref: '#/components/responses/authorizationProblemsResponse'
        '406':
          $ref: '#/components/responses/invalidAcceptHeader'
      x-codeSamples:
      - lang: JavaScript
        label: JS
        source: "import {\n  addonExecutionStatus,\n  AddonName,\n  UploadcareSimpleAuthSchema,\n} from '@uploadcare/rest-client';\n\nconst uploadcareSimpleAuthSchema = new UploadcareSimpleAuthSchema({\n  publicKey: 'YOUR_PUBLIC_KEY',\n  secretKey: 'YOUR_SECRET_KEY',\n});\n\nconst result = await addonExecutionStatus(\n  {\n    addonName: AddonName.UC_CLAMAV_VIRUS_SCAN,\n    requestId: '1bac376c-aa7e-4356-861b-dd2657b5bfd2',\n  },\n  { authSchema: uploadcareSimpleAuthSchema }\n)\n"
      - lang: PHP
        label: PHP
        source: '<?php

          $configuration = Uploadcare\Configuration::create((string) $_ENV[''UPLOADCARE_PUBLIC_KEY''], (string) $_ENV[''UPLOADCARE_SECRET_KEY'']);


          $api = (new Uploadcare\Api($configuration))->addons();

          $status = $api->checkAntivirusScan(''request-id'');

          echo \sprintf(''Antivirus scan status: %s'', $status);

          '
      - lang: Python
        label: Python
        source: 'from pyuploadcare import Uploadcare

          uploadcare = Uploadcare(public_key=''YOUR_PUBLIC_KEY'', secret_key=''YOUR_SECRET_KEY'')


          addon_task_status = uploadcare.addons_api.status(request_id, AddonLabels.CLAM_AV)

          print(addon_task_status)

          '
      - lang: Ruby
        label: Ruby
        source: 'require ''uploadcare''

          Uploadcare.config.public_key = ''YOUR_PUBLIC_KEY''

          Uploadcare.config.secret_key = ''YOUR_SECRET_KEY''


          request_id = ''1bac376c-aa7e-4356-861b-dd2657b5bfd2''

          result = Uploadcare::Addons.uc_clamav_virus_scan_status(request_id)

          puts result.status

          '
      - lang: Swift
        label: Swift
        source: 'import Uploadcare


          let uploadcare = Uploadcare(withPublicKey: "YOUR_PUBLIC_KEY", secretKey: "YOUR_SECRET_KEY")


          let status = try await uploadcare.checkClamAVStatus(requestID: "requestID")

          print(status)

          '
      - lang: Kotlin
        label: Kotlin
        source: 'import com.uploadcare.android.library.api.UploadcareClient


          val uploadcare = UploadcareClient(publicKey = "YOUR_PUBLIC_KEY", secretKey = "YOUR_SECRET_KEY")


          val addOn = ClamAVAddOn(uploadcare)

          val status = addOn.check(requestId = "d1fb31c6-ed34-4e21-bdc3-4f1485f58e21")

          Log.d("TAG", status.toString())

          '
  /addons/remove_bg/execute/:
    post:
      summary: Execute Remove.bg
      description: Execute [remove.bg](https://remove.bg/) background image removal Add-On for a given target.
      tags:
      - Add-Ons
      operationId: removeBgExecute
      parameters:
      - $ref: '#/components/parameters/acceptHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  description: Unique ID of the file to process
                  type: string
                  format: uuid
                  example: 21975c81-7f57-4c7a-aef9-acfe28779f78
                params:
                  description: Optional object with Add-On specific parameters
                  type: object
                  properties:
                    crop:
                      type: boolean
                      default: false
                      description: Whether to crop off all empty regions
                    crop_margin:
                      type: string
                      default: '0'
                      description: Adds a margin around the cropped subject, e.g 30px or 30%
                    scale:
                      type: string
                      description: Scales the subject relative to the total image size, e.g 80%
                      example: 30%
                    add_shadow:
                      type: boolean
                      description: Whether to add an artificial shadow to the result
                      default: false
                    type_level:
                      type: string
                      enum:
                      - none
                      - '1'
                      - '2'
                      - latest
                      description: "\"none\" = No classification (foreground_type won't bet set in the application data)\n\n\"1\" = Use coarse classification classes: [person, product, animal, car, other]\n\n\"2\" = Use more specific classification classes: [person, product, animal, car,\n      car_interior, car_part, transportation, graphics, other]\n\n\"latest\" = Always use the latest classification classes available\n"
                      default: none
                    type:
                      type: string
                      enum:
                      - auto
                      - person
                      - product
                      - car
                      description: Foreground type.
                    semitransparency:
                      type: boolean
                      description: Whether to have semi-transparent regions in the result
                      default: true
                    channels:
                      type: string
                      enum:
                      - rgba
                      - alpha
                      description: Request either the finalized image ('rgba', default) or an alpha mask ('alpha').
                      default: rgba
                    roi:
                      type: string
                      description: 'Region of interest: Only contents of this rectangular region can be detected

                        as foreground. Everything outside is considered background and will be removed.

                        The rectangle is defined as two x/y coordinates in the format "x1 y1 x2 y2".

                        The coordinates can be in absolute pixels (suffix ''px'') or relative to the

                        width/height of the image (suffix ''%''). By default, the whole image is the

                        region of interest ("0% 0% 100% 100%").

                        '
                      example: 0% 0% 90% 90%
                    position:
                      type: string
                      description: 'Positions the subject within the image canvas. Can be "original"

                        (default unless "scale" is given), "center" (default when "scale" is given) or a value from "0%" to "100%"

                        (both horizontal and vertical) or two values (horizontal, vertical).

                        '
                  default: {}
                  example:
                    crop: true
                    type_level: '2'
              required:
              - target
      responses:
        '200':
          $ref: '#/components/responses/executeAddonResponse'
        '400':
          $ref: '#/components/responses/simpleAuthHTTPForbiddenResponse'
        '401':
          $ref: '#/components/responses/authorizationProblemsResponse'
        '406':
          $ref: '#/components/responses/invalidAcceptHeader'
        '409':
          $ref: '#/components/responses/executeAddonConcurrentCallResponse'
        '429':
          $ref: '#/components/responses/requestWasThrottledError'
      x-codeSamples:
      - lang: PHP
        label: PHP
        source: '<?php

          $configuration = Uploadcare\Configuration::create((string) $_ENV[''UPLOADCARE_PUBLIC_KEY''], (string) $_ENV[''UPLOADCARE_SECRET_KEY'']);


          $api = (new Uploadcare\Api($configuration))->addons();

          $resultKey = $api->requestRemoveBackground(''21975c81-7f57-4c7a-aef9-acfe28779f78'');

          echo \sprintf(''Remove background requested. Key is \''%s\'''', $resultKey);

          '
      - lang: Python
        label: Python
        source: "from pyuploadcare import Uploadcare\nuploadcare = Uploadcare(public_key='YOUR_PUBLIC_KEY', secret_key='YOUR_SECRET_KEY')\n\nremove_bg_params = AddonRemoveBGExecutionParams(\n    crop=True,\n    crop_margin=\"20px\",\n    scale=\"15%\",\n    position ='',\n    roi = ''\n)\n\ntarget_file = uploadcare.file(\"1bac376c-aa7e-4356-861b-dd2657b5bfd2\")\nremove_bg_result = uploadcare.addons_api.execute(\n    target_file,\n    AddonLabels.REMOVE_BG,\n    remove_bg_params\n)\n"
      - lang: Ruby
        label: Ruby
        source: 'require ''uploadcare''

          Uploadcare.config.public_key = ''YOUR_PUBLIC_KEY''

          Uploadcare.config.secret_key = ''YOUR_SECRET_KEY''


          uuid = ''1bac376c-aa7e-4356-861b-dd2657b5bfd2''

          Uploadcare::Addons.remove_bg(uuid, crop: true)

          '
      - lang: Swift
        label: Swift
        source: 'import Uploadcare


          let uploadcare = Uploadcare(withPublicKey: "YOUR_PUBLIC_KEY", secretKey: "YOUR_SECRET_KEY")


          let parameters = RemoveBGAddonExecutionParams(crop: true, typeLevel: .two)

          let response = try await uploadcare.executeRemoveBG(fileUUID: "1bac376c-aa7e-4356-861b-dd2657b5bfd2", parameters: parameters)

          print(response) // contains requestID


          // Execute and wait for completion:

          let status = try await uploadcare.performRemoveBG(fileUUID: "1bac376c-aa7e-4356-861b-dd2657b5bfd2")

          print(status)

          '
      - lang: Kotlin
        label: Kotlin
        source: 'import com.uploadcare.android.library.api.UploadcareClient


          val uploadcare = UploadcareClient(publicKey = "YOUR_PUBLIC_KEY", secretKey = "YOUR_SECRET_KEY")


          val addOn = RemoveBgAddOn(uploadcare)

          val response = addOn.execute(fileId = "1bac376c-aa7e-4356-861b-dd2657b5bfd2")

          Log.d("TAG", response.toString())

          '
  /addons/remove_bg/execute/status/:
    get:
      summary: Check Remove.bg execution status
      description: 'Check the status of an Add-On execution request that had been started

        using the [Execute Add-On](#operation/removeBgExecute) operation.

        '
      tags:
      - Add-Ons
      operationId: removeBgExecutionStatus
      parameters:
      - $ref: '#/components/parameters/acceptHeader'
      - in: query
        name: request_id
        description: 'Request ID returned by the Add-On execution request described above.

          '
        schema:
          type: string
          format: uuid
        required: true
      responses:
        '200':
          description: Add-On execution response. See `file_id` in response in order to get image without background.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/addonExecutionStatus'
                - type: object
                  properties:
                    result:
                      type: object
                      properties:
                        file_id:
                          type: string
                          description: UUID of the file with removed background.
                          example: 21975c81-7f57-4c7a-aef9-acfe28779f78
              example:
                result:
                  file_id: 21975c81-7f57-4c7a-aef9-acfe28779f78
                status: done
        '400':
          $ref: '#/components/responses/simpleAuthHTTPForbiddenResponse'
        '401':
          $ref: '#/components/responses/authorizationProblemsResponse'
        '406':
          $ref: '#/components/responses/invalidAcceptHeader'
      x-codeSamples:
      - lang: PHP
        label: PHP
        source: '<?php

          $configuration = Uploadcare\Configuration::create((string) $_ENV[''UPLOADCARE_PUBLIC_KEY''], (string) $_ENV[''UPLOADCARE_SECRET_KEY'']);


          $api = (new Uploadcare\Api($configuration))->addons();

          $status = $api->checkRemoveBackground(''request-id'');

          echo \sprintf(''Remove background status: %s'', $status);

          '
      - lang: Python
        label: Python
        source: 'from pyuploadcare import Uploadcare

          uploadcare = Uploadcare(public_key=''YOUR_PUBLIC_KEY'', secret_key=''YOUR_SECRET_KEY'')


          addon_task_status = uploadcare.addons_api.status(request_id, AddonLabels.REMOVE_BG)

          print(addon_task_status)

          '
      - lang: Ruby
        label: Ruby
        source: 'require ''uploadcare''

          Uploadcare.config.public_key = ''YOUR_PUBLIC_KEY''

          Uploadcare.config.secret_key = ''YOUR_SECRET_KEY''


          request_id = ''1bac376c-aa7e-4356-861b-dd2657b5bfd2''

          result = Uploadcare::Addons.remove_bg_status(request_id)

          puts result.status

          '
      - lang: Swift
        label: Swift
        source: 'import Uploadcare


          let uploadcare = Uploadcare(withPublicKey: "YOUR_PUBLIC_KEY", secretKey: "YOUR_SECRET_KEY")


          let status = try await uploadcare.checkRemoveBGStatus(requestID: "requestID")

          print(status)

          '
      - lang: Kotlin
        label: Kotlin
        source: 'import com.uploadcare.android.library.api.UploadcareClient


          val uploadcare = UploadcareClient(publicKey = "YOUR_PUBLIC_KEY", secretKey = "YOUR_SECRET_KEY")


          val addOn = RemoveBgAddOn(uploadcare)

          val status = addOn.check(requestId = "d1fb31c6-ed34-4e21-bdc3-4f1485f58e21")

          Log.d("TAG", status.toString())

          '
components:
  responses:
    authorizationProblemsResponse:
      description: Authorization errors.
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: string
                enum:
                - Incorrect authentication credentials.
                - Public key {public_key} not found.
                - Secret key not found.
                - Invalid signature. Please check your Secret key.
                example: Incorrect authentication credentials.
    addonExecutionStatusResponse:
      description: Add-On execution status response.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                enum:
                - in_progress
                - error
                - done
                - unknown
                description: 'Defines the status of an Add-On execution.

                  In most cases, once the status changes to `done`, [Application Data](#operation/fileInfo) of the file that had been specified as a `appdata`, will contain the result of the execution.'
    invalidAcceptHeader:
      description: Invalid version header `Accept` for this endpoint.
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: string
                example: Incorrect Accept header provided. Make sure to specify API version. Refer to REST API docs for details.
                default: Incorrect Accept header provided. Make sure to specify API version. Refer to REST API docs for details.
    simpleAuthHTTPForbiddenResponse:
      description: Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/simpleAuthHTTPForbidden'
    executeAddonResponse:
      description: Add-On execution response.
      content:
        application/json:
          schema:
            type: object
            properties:
              request_id:
                type: string
                format: uuid
                description: Request ID.
                example: 8db3c8b4-2dea-4146-bcdb-63387e2b33c1
    executeAddonConcurrentCallResponse:
      description: Add-On concurrent call attempt.
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: string
                example: Concurrent call attempted
                default: Concurrent call attempted
    requestWasThrottledError:
      description: Request was throttled.
      headers:
        Retry-After:
          description: Number of seconds to wait before the next request.
          schema:
            type: integer
            example: 10
      content:
        application/json:
          schema:
            type: object
            properties:
              detail:
                type: string
                example: Request was throttled. Expected available in 10 seconds.
  parameters:
    acceptHeader:
      in: header
      name: Accept
      description: Version header.
      schema:
        type:
        - string
        - 'null'
        example: application/vnd.uploadcare-v0.7+json
      required: true
  schemas:
    simpleAuthHTTPForbidden:
      type: object
      properties:
        detail:
          type: string
          default: Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead.
      example:
        detail: Simple authentication over HTTP is forbidden. Please, use HTTPS or signed requests instead.
    addonExecutionStatus:
      type: object
      properties:
        status:
          type: string
          enum:
          - in_progress
          - error
          - done
          - unknown
          description: 'Defines the status of an Add-On execution.

            In most cases, once the status changes to `done`, [Application Data](#operation/fileInfo) of the file that had been specified as a `appdata`, will contain the result of the execution.'
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Every request made to `https://api.uploadcare.com/` MUST be signed. HTTPS SHOULD be used with any authorization scheme.


        Requests MUST contain the `Authorization` header defining `auth-scheme` and `auth-param`: `Authorization: auth-scheme auth-param`.


        Every request MUST contain the `Accept` header identifying the REST API version: `Accept: application/vnd.uploadcare-v0.7+json`.


        There are two available authorization schemes:

        * For production: `Uploadcare`, a scheme where a `signature`, not your Secret API Key MUST be specified. Signatures SHOULD be generated on backend.

        * For quick tests: `Uploadcare.Simple`, a simple scheme where your [Secret API Key](https://app.uploadcare.com/projects/-/api-keys/) MUST be specified in every request''s `auth-param`.

        '
    Uploadcare:
      type: apiKey
      in: header
      name: Uploadcare
      description: "With the `Uploadcare` authentication method:\n* `auth-param` is a `public_key:signature` pair, where your `secret_key` is used to derive `signature` but is _not included in every request_ itself.\n* You MUST also provide the `Date` header in [RFC2822](https://datatracker.ietf.org/doc/html/rfc2822#section-3.3) format with the time zone set to `GMT` (see the example below).\n* The date you provide MUST NOT exceed the 15-minute offset from the server time of the API endpoint.\n\n```http\nAccept: application/vnd.uploadcare-v0.7+json\nDate: Fri, 30 Sep 2016 11:10:54 GMT\nAuthorization: Uploadcare public_key:6ff75027649aadd4dc98c1f784444445d1e6ed82\n```\n\nThe `signature` part of the `Uploadcare` authentication method `auth-param` MUST be constructed from the following components:\n* Request type (`POST`, `GET`, `HEAD`, `OPTIONS`)\n* Hex md5 hash of the request body\n* `Content-Type` header value\n* `Date` header value\n* URI including path and parameters\n\nThe parameters are then concatenated in textual order using LF: every value sits in a separate line. The result is then signed with [HMAC/SHA1](https://en.wikipedia.org/wiki/HMAC) using your project's `secret_key`.\n\nTake a look at the Python example of deriving `signature`; the example request is made to get a list of files:\n\n```py\nimport time\nimport hashlib\nimport hmac\nfrom email import utils\n\n# Specifying the project’s key\nSECRET_KEY = 'YOUR_SECRET_KEY'\n\n# Specifying request type\nverb = 'GET'\n\n# Calculate [md5](https://en.wikipedia.org/wiki/MD5) checksum for the request's HTTP body.\n# Note: Taking into account that in our example, we are sending an HTTP GET request,\n# and the request does not have anything in its HTTP body, we use an empty string as an input to the md5 hash function.\n# If we were to send an HTTP POST request with, for example, JSON in the request's body,\n# we would have to pass the JSON as the input to the md5 hash function.\ncontent_md5 = hashlib.md5(b'').hexdigest()\n\n# Content-Type header\ncontent_type = 'application/json'\n\n# Current time, e.g. 1541423681\ntimestamp = int(time.time())\n# Date header ('Mon, 05 Nov 2018 13:14:41 GMT')\ndate_header = utils.formatdate(timestamp, usegmt=True)\n\n# The request URI\nuri = '/files/?limit=1&stored=true'\n\n# Forming the final string: concatenating\nsign_string = '\\n'.join([verb, content_md5, content_type, date_header, uri])\n\n# Calculating the signature,\n# the result may look like this: \"3cbc4d2cf91f80c1ba162b926f8a975e8bec7995\"\nsignature = hmac.new(SECRET_KEY.encode(), sign_string.encode(), hashlib.sha1).hexdigest()\n```\n\nOnce `signature` is derived, it SHOULD be implemented into the request body:\n\n```bash\ncurl  \\\n    -H 'Content-Type: application/json' \\\n    -H 'Accept: application/vnd.uploadcare-v0.7+json' \\\n    -H 'Date: Mon, 05 Nov 2018 13:14:41 GMT' \\\n    -H 'Authorization: Uploadcare YOUR_PUBLIC_KEY:SIGNATURE' \\\n    'https://api.uploadcare.com/files/?limit=1&stored=true'\n```\n"
    Uploadcare.Simple:
      type: apiKey
      in: header
      name: Uploadcare.Simple
      description: 'Note: We DO NOT recommend using this authentication method in production.


        With the `Uploadcare.Simple` authentication method, `auth-param` is your `public_key:secret_key` pair. Note that in this scheme, your Uploadcare project `secret_key` is  _included in every request as plain text_.


        ```http

        Accept: application/vnd.uploadcare-v0.7+json

        Authorization: Uploadcare.Simple public_key:secret_key

        ```

        '
