openapi: 3.2.0
info:
  title: URL API Reference File names API
  version: '2022-11-28'
  description: Every uploaded file is immediately available on the Uploadcare CDN.
  contact:
    name: API support
    email: help@uploadcare.com
  x-logo:
    url: https://ucarecdn.com/12e3af14-392d-416f-8542-f210c2eb6ec4/logourlapi.svg
    backgroundColor: '#fafafa'
    altText: Uploadcare URL API Reference
  x-meta:
    title: URL API Reference — Uploadcare
    description: A reference documentation for the Uploadcare's URL API.
servers:
- url: https://ucarecdn.com
  description: Production server
tags:
- name: File names
  description: Your original filenames can be accessed via REST API.
paths:
  /{uuid}/{filename}:
    parameters:
    - $ref: '#/components/parameters/uuid'
    - $ref: '#/components/parameters/filename'
    get:
      tags:
      - File names
      summary: File with a custom name
      description: 'You can set an optional filename that users will see instead of

        the original name.'
      operationId: fileWithName
      responses:
        '200':
          description: File with a custom name
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
              examples:
                image:
                  $ref: '#/components/examples/image'
        '404':
          $ref: '#/components/responses/fileNotFoundError'
components:
  parameters:
    uuid:
      in: path
      description: Unique file identifier
      name: uuid
      required: true
      schema:
        type: string
        example: d7fe74ac-65b8-4ade-875f-ccd92759a70f
    filename:
      in: path
      description: 'An optional filename that users will see instead of the original name.

        '
      name: filename
      required: true
      schema:
        type: string
        example: cat.jpg
  responses:
    fileNotFoundError:
      description: Image with "File not found" text.
      content:
        image/jpeg:
          schema:
            type: string
            format: binary
          examples:
            imageNotFound:
              $ref: '#/components/examples/imageNotFound'
  examples:
    imageNotFound:
      externalValue: https://ucarecdn.com/d7fe74ac-65b8-4ade-875f-ccd92759a700/imageNotFound.jpg
    image:
      externalValue: https://ucarecdn.com/d7fe74ac-65b8-4ade-875f-ccd92759a70f/cat.jpg
